body{
    background-color: #9FB1BC;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    text-align: center;
    margin: auto;
}

.console {
    border: 2px solid black;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    
    height: 75px;
}

.up-go {
    animation: up 1s;
}

.down-go {
    animation: down 1s;
}

.controls {
    margin: 15px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
}

button:nth-child(1) {
    background-color: green;
}

button:nth-child(2){
    background-color: red;
}

@keyframes up{
    from{
        transform: translateY(0px);

    }
    to{
        transform: translateY(-100px);
    }
}

@keyframes down{
    from{
        transform: translateY(0px);

    }
    to{
        transform: translateY(100px);
    }
}